     <h1 class="title mt-2">Add a Comment</h1>
                        <div class="field">
                            <label class="label has-text-light">Message</label>
                            <div class="control">
                                <textarea class="textarea" placeholder="Textarea" name="comment-body"></textarea>
                            </div>
                        </div>

                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-success" id='save-comment'>Submit</button>
                            </div>
                            <div class="control">
                                <button class="button is-link is-light">Cancel</button>
                            </div>
                        </div>