<h1 class="title is-size-4 mt-3">Add a Comment</h1>
<div class="field">
 
    <div class="control">
        <textarea class="textarea" placeholder="Your comment here" name="comment-body"></textarea>
    </div>
</div>

<div class="field is-grouped">
    <div class="control">
        <button class="button is-success" id='save-comment'>Submit</button>
    </div>
    <div class="control">
        <button class="button is-link is-light">Cancel</button>
    </div>
</div>