<div class="columns is-mobile is-centered">
    <div class="column is-5-tablet is-4-desktop is-half-widescreen is-centered ">
        <h1 class="title has-text-success mt-5">403: <span class="is-italic has-text-weight-bold has-text-black">
                {{session.username}} </span> </h1>
        <p class="subtitle has-text-success">Action not authorized</p>
        <form>
            <input type="button" class="button is-success" value="Go back" onclick="history.back()">
        </form>
    </div>
</div>